{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section style="margin-top:0px">
  
        <!-- -------- START HEADER 5 w/ text and illustration ------- -->
    
        <a href="javascript:void();"  class="btn bg-gradient-warning mt-4" type="submit" id="calculate">get a pretty table</a>

        <div class="container">
          <section class="pt-5 mt-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                        <p>Number of rows:</p>
                        <span id="elements">0</span><br>
                  <div class="card">
                    <div class="table-responsive">
                    
            <div id="mytablediv">Results</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
    <!-- -------- END HEADER 5 w/ text and illustration ------- -->
    
    </section>



<!-- <div class="container">
        <div class="header">
          <h3 class="text-muted">Create a pretty table</h3>
        </div>
  
        <div>
         
  
          <p><a href="javascript:void();" id="calculate">get a pretty table</a></p>
           <p>Result</p>
          <p>Number of elements:</p>
            <span id="elements">Hallo</span><br>
            <div id="mytablediv">Here should be a table</div>
        </div>
      </div> -->


{% endblock %}