<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/ttlogoblack.png">
  <link rel="icon" type="image/png" href="../static/assets/img/ttlogoblack.png">
  <title>

			{% block title %}
			
			{% endblock %}
		</title>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
			<!-- Nucleo Icons -->
			<link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
			<link href="../static/assets/css/nucleo-svg.css" rel="stylesheet" />
			<!-- Font Awesome Icons -->
			<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
			<link href="../static/assets/css/nucleo-svg.css" rel="stylesheet" />
			<!-- CSS Files -->
			<link id="pagestyle" href="../static/assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
			<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
		      </head>
	<body class="loggedin presentation-page">
		
		
		
		
		<div class="container position-sticky z-index-sticky top-0">
			<div class="row">
			  <div class="col-12">
			    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
			      <div class="container-fluid px-0">
				<a class="navbar-brand font-weight-bolder ms-sm-3" href="# " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
				  Resume Screener | DStudio.
				</a>

				<ul class="navbar-nav navbar-nav-hover mx-auto">
           
				</ul>

				<ul class="navbar-nav d-lg-block d-none">
					
					
				
			
			<li class="nav-item">
					  <a href="{{ url_for('home') }}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
					    Home
					</a>

					  <a href="{{ url_for('profile') }}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">Profile</a>


					  {% if role == 'Admin' %}

					  <a href="{{ url_for('admin') }}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
					      Admin
					  </a>
					  {% endif %}
					 
					  
					  <a href="{{ url_for('logout') }}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
					      Logout
					  </a>
					 
					</li>
				      </ul>


				</div>
			</div>
		      </nav>
		</div>
	</div>
      </div>

      <section style="margin-top:100px">
	<div class="container">
		<div class="content">
			<br><br><br>
			{% block content %}{% endblock %}
		</div>
	</div>
	</div>
	</section>
	<footer class="footer pt-5 mt-5">
		<hr class="horizontal dark mb-5">
		<div class="container">
		  <div class=" row">
		    <div class="col-md-3 mb-4 ms-auto">
		      <div>
			<h6 class="text-gradient text-primary font-weight-bolder">Social Listener Pro</h6>
		      </div>
		      <div>
			<h6 class="mt-3 mb-2 opacity-8">Social</h6>
			<ul class="d-flex flex-row ms-n3 nav">
			  <li class="nav-item">
			    <a class="nav-link pe-1" href="#" target="_blank">
			      <i class="fab fa-facebook text-lg opacity-8"></i>
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link pe-1" href="#" target="_blank">
			      <i class="fab fa-twitter text-lg opacity-8"></i>
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link pe-1" href="https://www.dstudioapp.com/" target="_blank">
			      <i class="fab fa-dribbble text-lg opacity-8"></i>
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link pe-1" href="#" target="_blank">
			      <i class="fab fa-github text-lg opacity-8"></i>
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link pe-1" href="#" target="_blank">
			      <i class="fab fa-youtube text-lg opacity-8"></i>
			    </a>
			  </li>
			</ul>
		      </div>
		    </div>
		    <div class="col-md-2 col-sm-6 col-6 mb-4">
		      <div>
			<h6 class="text-gradient text-primary text-sm">Company</h6>
			<ul class="flex-column ms-n3 nav">
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapp.com/" target="_blank">
			      About Us
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapp.com/" target="_blank">
			      Products
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapp.com/" target="_blank">
			      Consulting
			    </a>
			  </li>
			 
			</ul>
		      </div>
		    </div>
		  
		    <div class="col-md-2 col-sm-6 col-6 mb-4">
		      <div>
			<h6 class="text-gradient text-primary text-sm">Help & Support</h6>
			<ul class="flex-column ms-n3 nav">
			  <li class="nav-item">
			    <a class="nav-link" href="mailto:support@talentotal.com" target="_blank">
			      Contact Us
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapp.com/" target="_blank">
			      Knowledge Center
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="mailto:support@talentotal.com" target="_blank">
			      Custom Development
			    </a>
			  </li>
			
			</ul>
		      </div>
		    </div>
		    <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
		      <div>
			<h6 class="text-gradient text-primary text-sm">Legal</h6>
			<ul class="flex-column ms-n3 nav">
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapps.com/terms-conditions" target="_blank">
			      Terms &amp; Conditions
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="https://www.dstudioapps.com/privacy-policy" target="_blank">
			      Privacy Policy
			    </a>
			  </li>
			 
			</ul>
		      </div>
		    </div>
		    <div class="col-12">
		      <div class="text-center">
			<p class="my-4 text-sm">
			  All rights reserved. Copyright © <script>
			    document.write(new Date().getFullYear())
			  </script> Resume Screener Pro by <a href="https://www.dstudioapps.com/" target="_blank">Talentotal Systems</a>.
			</p>
		      </div>
		    </div>
		  </div>
		</div>
	      </footer>
	      <!--   Core JS Files   -->
	      <script src="../static/assets/js/core/popper.min.js" type="text/javascript"></script>
	      <script src="../static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	      <script src="../static/assets/js/plugins/perfect-scrollbar.min.js"></script>
	      <!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	      <script src="../static/assets/js/plugins/typedjs.js"></script>
	      <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
	      <script src="../static/assets/js/plugins/countup.min.js"></script>
	      <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
	      <script src="../static/assets/js/plugins/rellax.min.js"></script>
	      <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
	      <script src="../static/assets/js/plugins/tilt.min.js"></script>
	      <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
	      <script src="../static/assets/js/plugins/choices.min.js"></script>
	      <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	      <script src="../static/assets/js/plugins/parallax.min.js"></script>
	      <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	      <script src="../static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	      <!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	      <script src="../static/assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	      <!--  Plugin for the blob animation -->
	      <script src="../static/assets/js/plugins/anime.min.js" type="text/javascript"></script>
	      <!-- Chart JS -->
	      <script src="../static/assets/js/plugins/chartjs.min.js"></script>
	      <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	      <!--  Google Maps Plugin    -->
	      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	      <script src="../static/assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	      <script type="text/javascript">
		if (document.getElementById('state1')) {
		  const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
		  if (!countUp.error) {
		    countUp.start();
		  } else {
		    console.error(countUp.error);
		  }
		}
		if (document.getElementById('state2')) {
		  const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
		  if (!countUp1.error) {
		    countUp1.start();
		  } else {
		    console.error(countUp1.error);
		  }
		}
		if (document.getElementById('state3')) {
		  const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
		  if (!countUp2.error) {
		    countUp2.start();
		  } else {
		    console.error(countUp2.error);
		  };
		}
	      </script>


<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var table = null;
    $('a#calculate').bind('click', function() {
      $.getJSON('/_get_table', {
	a: $('input[name="a"]').val(),
	b: $('input[name="b"]').val()
      }, function(data) {
	$("#elements").text(data.number_elements);
	if (table !== null) {
	  table.destroy();
	  table = null;
	  $("#a_nice_table").empty();
	}
	$("#mytablediv").html(data.my_table);
	table = $("#a_nice_table").DataTable();
      });
      return false;
    });
  });
</script>


	    </body>
	    
	    </html>
	    